{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{client.name}}</td>
                <td>{{client.email}}</td>
                <td>{{client.zipCode}} {{client.trackName}} {{client.city}}</td>
                <td>
                    <a class="text-primary text-decoration-none" href="{{path('client_details', {id: client.id})}}">
                        <i class="bi bi-eye"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if havePagination %}
        {% include 'components/pagination.html.twig' with {
            'currentPage': currentPage,
            'totalPages': totalPages,
            'routeName': 'app_home',
        } %}
    {% endif %}
{% endblock %}
